@font-face {
  font-family: gintronic;
  src: url("fonts/gintronic-regular.woff2") format("woff2"),
    url("fonts/gintronic-regular.woff") format("woff");
}
@font-face {
  src: url(fonts/misterpixeltools.otf);
  font-family: mister-tools;
  font-weight: 400;
}
@font-face {
  src: url(fonts/SportingGrotesque-Regular.otf);
  font-family: sporting;
  font-weight: 400;
}
@font-face {
  src: url(fonts/SportingGrotesque-Bold.otf);
  font-family: sporting-bold;
  font-weight: 700;
}

:root {
  --main-bg: #111;
  --fcolor: #fff;
  --fcolor2: #14fdc0;
  --font-copy: "sporting", monospace;
  --font-hl: "sporting-bold", sans-serif;
  --main-border: #fff;
  --hover: #14fec0;
}

body {
  background-color: var(--main-bg);
  color: var(--fcolor);
}

.font-copy {
  font-family: var(--font-copy);
}
.font-hl {
  font-family: var(--font-hl);
}

.mister {
  font-family: "mister-tools", sans-serif;
}
.sporting {
  font-family: "sporting", sans-serif;
}
.sporting-bold {
  font-family: "sporting-bold", sans-serif;
}

.overlay {
  transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transform: translateY(100%);
}

.main-border {
  border-color: var(--main-border);
}
.fcolor {
  color: var(--fcolor);
}
.fcolor2 {
  color: var(--fcolor2);
}

p.vertical {
  writing-mode: vertical-lr;
}
p.flip {
  transform: rotate(180deg);
  text-align: right;
}

::selection {
  color: var(--main-bg);
  background-color: var(--hover);
}

.hover-type {
  transition: 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.hover-type:hover {
  color: var(--hover);
}

.hover-list p {
  transition: 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.hover-list:hover > p {
  color: var(--hover);
}

.hover-svg:hover .link-line {
  stroke: var(--hover);
}
.hover-svg:hover .link-fill {
  fill: var(--hover);
}
.project-link a {
  transition: none !important;
}
.hover-svg:hover a {
  color: var(--hover);
}

.project-link a:hover {
  color: var(--hover);
}

.active-page::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 12px;
  border: solid 1px var(--hover);
  animation: blink 1s step-end infinite;
  transform: translateY(1px);
}

.logo-color {
  fill: var(--fcolor);
}

.link {
  color: var(--fcolor);
}
.link:visited {
}

.max {
  height: max-content;
}
.fit {
  height: fit-content;
}
p.rubric:first-letter {
  font-size: 2em;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0px;
}

ul.nav-menu li::before {
  content: "[";
  font-family: "mister-tools";
  transition: 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
}

span.mister {
  transition: color 0.15s ease-in;
}

li.active-page::before {
  color: var(--hover);
}

ul.nav-menu li:hover {
  color: var(--hover);
}

/* nav hover cursor
nav ul li a::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 14px;
  border: solid 1px var(--hover);
  animation: blink 1s step-end infinite;
  visibility: hidden;
}

nav ul li a:hover::after {
  visibility: visible;
}
*/

.cursor::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 12px;
  transform: translateY(4px);
  border: solid 1px var(--hover);
  animation: blink 1s step-end infinite;
}

.text-outline {
  color: black;
  -webkit-text-fill-color: var(--main-bg);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--main-border);
}

.link-line {
  fill: none;
  stroke: var(--main-border);
  stroke-miterlimit: 10;
  stroke-width: 1px;
}
.link-fill {
  fill: var(--main-border);
}

@keyframes blink {
  0% {
    background-color: none;
  }
  50% {
    background-color: var(--hover);
  }
  100% {
    background-color: none;
  }
}
