:root {
  --main-bg: #111;
  --fcolor: #fff;
  --fcolor2: #14fdc0;
  --font-copy: "Fira Mono", monospace;
  --font-hl: itc-avant-garde-gothic-pro, sans-serif;
  --main-border: #fff;
  --hover: #14fec0;
}

body {
  background-color: var(--main-bg);
  color: var(--fcolor);
}

.font-copy {
  font-family: var(--font-copy);
}
.font-hl {
  font-family: var(--font-hl);
}

.overlay {
  transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transform: translateY(100%);
}

.border-main {
  border-color: var(--main-border);
}
.fcolor {
  color: var(--fcolor);
}
.fcolor2 {
  color: var(--fcolor2);
}
.hover-type {
  transition: 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.hover-type:hover {
  color: var(--hover);
}
.active-page a {
  color: var(--hover);
}
.active-page::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 14px;
  border: solid 1px var(--hover);
  animation: blink 1s step-end infinite;
}
.logo-color {
  fill: var(--fcolor);
}

.link {
  color: var(--fcolor);
}
.link:visited {
}

.max {
  height: max-content;
}
.fit {
  height: fit-content;
}
p.rubric:first-letter {
  font-size: 2em;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 4px;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 14px;
  border: solid 1px var(--hover);
  animation: blink 1s step-end infinite;
  visibility: hidden;
}

nav ul li a:hover::after {
  visibility: visible;
}

.cursor::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 12px;
  transform: translateY(4px);
  border: solid 1px var(--hover);
  animation: blink 1s step-end infinite;
}

.text-outline {
  color: black;
  -webkit-text-fill-color: var(--main-bg);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--main-border);
}

@keyframes blink {
  0% {
    background-color: none;
  }
  50% {
    background-color: var(--hover);
  }
  100% {
    background-color: none;
  }
}
