---
layout: default
---

<div class="flex flex-wrap ph3">
  <div class="w-100 w-40-ns ph2">
    {% include frame.html %}
  </div>
  <div class="w-100 w-50-ns ph2">
    <h1 class="font-hl ttc tracked lh-title">
      digital design for IRL people.
    </h1>
    <p class="rubric cursor lh-copy">
      The first generation, named Ipsum in Japan and Picnic in export markets,
      was built from 1995–2001, with export versions arriving in 1996. A
      commercial version was sold as the Toyota SportsVan in Denmark. It had a
      choice of two inline-four petrol engines, ranging from 1.8- to 2.0-litres,
      as well as a 2.2-litre diesel engine, the 3C-TE.
    </p>
  </div>
</div>
